{% extends 'teacher_confirmation/base.html' %}
{% load boost %}
{% load static %}
{% block extra_css,js %}
<link rel="stylesheet" href="{% static 'css/teacher_confirmation_css/confirm.css' %}">
<script src="{% static 'js/teacher_confirmation_js/confirm.js' %}"></script>
{% endblock %}
{% block content %}
<svg class="n_272">
    
</svg>
<svg class="n_15">
	<ellipse id="n_15" rx="45" ry="45" cx="45" cy="45">
	</ellipse>
</svg>
<div id="n_36">
	<svg class="n_275">
		<rect id="n_275" rx="0" ry="0" x="0" y="0" width="871" height="1769">
		</rect>
	</svg>
	<svg class="n_276">
		<rect id="n_276" rx="0" ry="0" x="0" y="0" width="871" height="86">
		</rect>
	</svg>
</div>
<!--<div id="n_6__1" class="________6___1">
	<div id="n_5__1" class="________5___1">
		<svg class="n_291">
			<rect id="n_291" rx="0" ry="0" x="0" y="0" width="124" height="40">
			</rect>
		</svg>
	</div>
	<div id="n_">
		<span>1学期始め</span>
	</div>
</div>
<div id="n_7__1" class="________7___1">
	<div id="n_112">
		<svg class="n_291_bx">
			<rect id="n_291_bx" rx="0" ry="0" x="0" y="0" width="124" height="40">
			</rect>
		</svg>
	</div>
	<div id="n__by">
		<span>1学期終わり</span>
	</div>
</div>
<div id="n_8__1" class="________8___1">
	<div id="n_113">
		<svg class="n_291_b">
			<rect id="n_291_b" rx="0" ry="0" x="0" y="0" width="124" height="40">
			</rect>
		</svg>
	</div>
	<div id="n__b">
		<span>2学期始まり</span>
	</div>
</div>
<div id="n_9__1" class="________9___1">
	<svg class="n_291_ca">
		<rect id="n_291_ca" rx="0" ry="0" x="0" y="0" width="124" height="40">
		</rect>
	</svg>
	<div id="n__ca">
		<span>2学期終わり</span>
	</div>
</div>
<div id="n_10__1" class="________10___1">
	<svg class="n_291_cb">
		<rect id="n_291_cb" rx="0" ry="0" x="0" y="0" width="124" height="40">
		</rect>
	</svg>
	<div id="n__cb">
		<span>3学期始まり</span>
	</div>
</div>
<div id="n_11__1" class="________11___1">
	<svg class="n_291_cc">
		<rect id="n_291_cc" rx="0" ry="0" x="0" y="0" width="124" height="40">
		</rect>
	</svg>
	<div id="n__cc">
		<span>3学期終わり</span>
	</div>
</div>-->
<div id="n_54">
	<form id="confirm" method="POST">
        {% csrf_token %}
        <h6 id="label">コメント:</h6>
        <textarea id="area" readonly>{{comment}}</textarea>
        <div id="button_group">
            <button type="submit" name="button_confirm">確定</button>
            <button type="submit" name="button_confirm_back">戻る</button>
        </div>
    </form>
</div>
<div id="n_1__1" class="________1___1">
	<div id="n_32">
		<svg class="n_274_c">
			<rect id="n_274_c" rx="5" ry="5" x="0" y="0" width="163" height="61">
			</rect>
		</svg>
		<div id="n__c">
			<span>確認</span>
		</div>
	</div>
	<svg class="n_283">
		<rect id="n_283" rx="5" ry="5" x="0" y="0" width="163" height="40">
		</rect>
	</svg>
	<div id="Text_da">
		<span>振り返り</span>
	</div>
</div>
<div id="student_detail" style="display:none">{{year}}年{{class}}組　{{name}}</div>
{% endblock content %}