{% extends 'teacher_confirmation/base.html' %}
{% load static %}
{% block extra_css,js %}
<link rel="stylesheet" href="{% static 'css/teacher_confirmation_css/teacher_confirmation.css' %}">
<script src="{% static 'js/teacher_confirmation_js/teacher_confirmation_index.js' %}"></script>
{% endblock %}
{% block content %}
<svg class="n_272">
    <rect id="n_272" rx="0" ry="0" x="0" y="0" width="1024" height="1030">
    </rect>
</svg>
<div id="n_16">
    <svg class="n_275">
        <rect id="n_275" rx="0" ry="0" x="0" y="0" width="871" height="198">
        </rect>
    </svg>
    <svg class="n_276">
        <rect id="n_276" rx="0" ry="0" x="0" y="0" width="871" height="86">
        </rect>
    </svg>
    <div id="Text_bp">
        <span>キャリアパスポートコメント記入</span>
    </div>
    <!--<svg class="n_60" viewBox="0 0 872 1">
        <path id="n_60" d="M 0 0 L 872 0">
        </path>
    </svg>-->
    <div id="Text_br">
        <span>生徒一覧</span>
    </div>
    <!--<div id="Text_bs">
        <span>学期終わり</span>
    </div>-->
    <svg class="n_61" viewBox="0 0 1 198">
        <path id="n_61" d="M 0 112 L 0 0">
        </path>
    </svg>
    {{semester}}
    <!--<div id="n_">
        <a id="link_semester_w" href="{% url 'looking_back:career_passport_edit_s' pk=user.pk %}">▸1学期</a>
    </div>
    <div id="n__bv">
        <a id="link_semester_w" href="{% url 'looking_back:career_passport_edit_e' pk=user.pk %}">▸1学期</a>
    </div>-->
    <div id="n__bw">
        <a id="link_semester_w" href="{% url 'teacher_confirmation:student_list' pk=user.pk %}">▸一覧</a>
    </div>
    <!--<div id="n__bx">
        <span>▸2学期</span>
    </div>
    <div id="n__by">
        <span>▸3学期</span>
    </div>
    <div id="n__bz">
        <span>▸3学期</span>
    </div>-->
    {% if semester == 2 %}
    <div id="n_">
        <span>▸1学期</span>
    </div>
    <div id="n__bv">
        <span>▸1学期</span>
    </div>
    <div id="n__bw">
        <a id="link_semester_w" href="{% url 'looking_back:career_passport_edit_e' pk=user.pk %}">▸2学期</a>
    </div>
    <div id="n__bx">
        <a id="link_semester_w" href="{% url 'looking_back:career_passport_edit_e' pk=user.pk %}">▸2学期</a>
    </div>
    <div id="n__by">
        <span>▸3学期</span>
    </div>
    <div id="n__bz">
        <span>▸3学期</span>
    </div>
    {% elif semester == 3 %}
    <div id="n_">
        <span>▸1学期</span>
    </div>
    <div id="n__bv">
        <span>▸1学期</span>
    </div>
    <div id="n__bw">
        <span>▸2学期</span>
    </div>
    <div id="n__bx">
        <span>▸2学期</span>
    </div>
    <div id="n__by">
        <a id="link_semester_w" href="{% url 'looking_back:career_passport_edit_e' pk=user.pk %}">▸3学期</a>
    </div>
    <div id="n__bz">
        <a id="link_semester_w" href="{% url 'looking_back:career_passport_edit_e' pk=user.pk %}">▸3学期</a>
    </div>
    {% endif %}
</div>
<!--
<svg class="n_275_b">
    <rect id="n_275_b" rx="0" ry="0" x="0" y="0" width="871" height="284">
    </rect>
</svg>
<svg class="n_276_b">
    <rect id="n_276_b" rx="0" ry="0" x="0" y="0" width="871" height="86">
    </rect>
</svg>
<div id="Text_b">
    <span>先生や家のひとからのコメント</span>
</div>
<svg class="n_60_b" viewBox="0 0 872 1">
    <path id="n_60_b" d="M 0 0 L 872 0">
    </path>
</svg>
<div id="Text_ca">
    <span>学期始め</span>
</div>
<div id="Text_cb">
    <span>学期終わり</span>
</div>
<svg class="n_61_b" viewBox="0 0 1 198">
    <path id="n_61_b" d="M 0 198 L 0 0">
    </path>
</svg>
<div id="n__b">
    <span>▸1学期</span>
</div>
<div id="n__ca">
    <span>▸1学期</span>
</div>
<div id="n__cb">
    <a id="link_semester_w" href="{% url 'teacher_confirmation:student_list' pk=user.pk %}">▸一覧</a>
</div>
<div id="n__cc">
    <span>▸2学期</span>
</div>
<div id="n__cd">
    <span>▸3学期</span>
</div>
<div id="n__ce">
    <span>▸3学期</span>
</div>-->
<div id="n_227">
    <div id="n_16_ce">
        <svg class="n_275_cf">
            <rect id="n_275_cf" rx="0" ry="0" x="0" y="0" width="871" height="185">
            </rect>
        </svg>
        <svg class="n_276_cg">
            <rect id="n_276_cg" rx="0" ry="0" x="0" y="0" width="871" height="86">
            </rect>
        </svg>
        <div id="Text_ch">
            <span>行事</span>
        </div>
        <svg class="n_61_ci" viewBox="0 0 1 99">
            <path id="n_61_ci" d="M 0 99 L 0 0">
            </path>
        </svg>
    </div>
</div>
<div id="file_upload">
    <a id="link_semester_w" href="{% url 'file_uploader:file_upload' pk=user.pk %}">▸ファイルアップロード</a>
</div>
<!--<div id="n_17">
    <svg class="n_1" viewBox="0 0 871 185.5">
        <path id="n_1" d="M 0 0 L 871 0 L 871 185.5 L 0 185.5 L 0 0 Z">
        </path>
    </svg>
    <svg class="n_276_cl">
        <rect id="n_276_cl" rx="0" ry="0" x="0" y="0" width="871" height="86">
        </rect>
    </svg>
    <div id="Text_cm">
        <span>適職診断</span>
    </div>
    <div id="Text_cn">
        <span>▸診断する</span>
    </div>
    <div id="Text_co">
        <span>▸過去の診断を見る</span>
    </div>
</div>-->
<div id="n__cx">
    <span>▸1学期</span>
</div>
<div id="n__cy">
    <span>▸2学期</span>
</div>
<div id="n__cz">
    <span>▸3学期</span>
</div>
<div id="Text_c">
    <span>学期</span>
</div>
{% endblock content %}