{% extends 'base.html' %}
{% block content %}
<h2>detail</h2>
{% if "career_passport01_1" in request.path%}
    {{object.date}}<br>
    {{object.my_current}}<br>
    {{object.my_PR}}<br>
    {{object.my_dream}}<br>
    {{object.getting_skills}}<br>
    {{object.study_target}}<br>
    {{object.for_study_target}}<br>
    {{object.life_target}}<br>
    {{object.for_life_target}}<br>
    {{object.local_target}}<br>
    {{object.for_local_target}}<br>
    {{object.others_target}}<br>
    {{object.for_others_target}}<br>
{% endif %}
{% endblock content %}