{% extends 'registration/base.html' %}
{% block content %}
<svg class="n_265">
    <rect id="n_265" rx="0" ry="0" x="0" y="0" width="1024" height="768">
    </rect>
</svg>
<svg class="n_266">
    <rect id="n_266" rx="0" ry="0" x="0" y="0" width="842" height="474">
    </rect>
</svg>
<svg class="n_267">
    <rect id="n_267" rx="27" ry="27" x="0" y="0" width="798" height="198">
    </rect>
</svg>
<div class="text-center" style="padding-top: 8%;">
    <h2 id="Text_bd">ログアウト画面</h2>
    <p id="text">ログアウトしました</p>
    <p id="login_url"><a href="{% url 'login' %}">ログイン画面へ</a></p>
</div>
{% endblock content %}