{% extends 'looking_back/base.html' %}
{% load static %}
{% block extra_css %}
<script src="{% static 'looking_back/js/chart.min.js' %}"></script>
<script src="{% static 'looking_back/js/ajax.js' %}"></script>
<script src="{% static 'looking_back/js/graph.js' %}"></script>
{% endblock %}

{% block content %}
<h2>detail</h2>
{% if "career_passport01_1" in request.path%}
    {{object.date}}<br>
    {{form.my_current.label}} : {{object.my_current}}<br>
    {{form.my_PR.label}} : {{object.my_PR}}<br>
    {{form.my_dream.label}} : {{object.my_dream}}<br>
    {{form.getting_skills.label}} : {{object.getting_skills}}<br>
    {{form.study_target.label}} : {{object.study_target}}<br>
    {{form.for_study_target.label}} : {{object.for_study_target}}<br>
    {{form.life_target.label}} : {{object.life_target}}<br>
    {{form.for_life_target.label}} : {{object.for_life_target}}<br>
    {{form.local_target.label}} : {{object.local_target}}<br>
    {{form.for_local_target.label}} : {{object.for_local_target}}<br>
    {{form.others_target.label}} : {{object.others_target}}<br>
    {{form.for_others_target.label}} : {{object.for_others_target}}<br>
{% endif %}
    <div style="width:400px">
        <canvas id="gradechart"></canvas>
    </div>
    <div id="grade_url" style="display: none;">
        {% url 'grade_management:grade_output' pk=user.pk %}
    </div>
    <select id="grade_select">
        {% for item in option_list %}
            {{item |safe}}
        {% endfor %}
    </select>
    <div id="error_text"></div>
{% endblock content %}
{% block extra_js %}
{% endblock %}